@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.navbar{
    background-color: #002250;
  }
  header nav a{
    font-size: 25px;
    color: aliceblue;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
  }
  .toolbar{
    width: 95%;
  }
  .toolbar a:hover{
    color: #d8003a;
    font-weight: bold;
  } 
  .title{
    font-size: 35px;
    padding: 10px;
    background-color: #d8003a;
    color: white;
    font-family: 'Kanit', sans-serif;
  }
  /* Index.html */
  .subtitle{
    background-image: url(../assets/img/Knowledge.png);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 250px;
    padding-bottom: 250px;
  }
  .paragraph1{
    font-size: 1.5rem;
    text-align: justify;
    color: #050a30;
  }
  /* Products.html */
  .subtitle2{
    color: #050a30;
  }
  .block{
    width: 19rem;
  } 
  .block img{
    width: 100%;
    height: 320px;
    border-radius: 8px;
    border: 1px solid #002250 ;
  }
  .newbutton{
    border-radius: 8px;
    background-color:#d8003a ;
    border:1px solid red;
    padding:16px 31px;
  }
  main section div a{
    font-family: 'Kanit', sans-serif;
    font-size: 30px;
    color: #e4fff9;
    text-decoration: none;
  }
  main section div a:hover{
    color: #002250;
  }
   /* About.html */
  .image{
    background-image: url(../assets/img/Contact.png);
    padding-top: 190px;
    padding-bottom: 190px;
  }
  .paragraph2{
    width: 30rem;
    font-size: 1.5rem;
    text-align: justify;
    color: #050a30;
  }
  /* Contact.html */
  .survey{
    margin-left: 420px;
    margin-right: 420px;
    border-radius: 8px;
    padding: 8px;
    background-color: #002250;
    font-family: 'Kanit', sans-serif;
  }
  .title2{
    padding: 5px;
    font-size: 30px;
    border-radius: 8px;
    background-color: #d8003a;
    color: #e4fff9;
  }
  .box{
    padding: 5px;
	  border:1px solid wheat;
  }
  .newbutton1{
    border-radius: 8px;
    background-color:#d8003a ;
    padding:5px;
  }
  /* Find.html */
  .address{
    list-style: none;
  }
  .footer2{
    background-color: #002250;
    padding: 5px;
    color: #e4fff9;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
  }
  footer div a{
    color: #e4fff9;
  }
  @media (max-width:991px){
    .toolbar{
        flex-direction: column;
    }
  }


