  main section div a{
    font-family: font-family1;
    font-size: 30px;
    color: #e4fff9;
    text-decoration: none;
  }
  main section div a:hover{
    color: #002250;
  }
  .footer2{
    background-color: #002250;
    padding: 5px;
    color: #e4fff9;
    text-decoration: none;
    font-family: font-family1;
  }
  footer div a{
    color: #e4fff9;
  }
  @media (max-width:991px){
    .footer2{
      flex-direction: column;
    }
  }