  .image{
    background-image: url(../assets/img/Contact.png);
    padding-top: 190px;
    padding-bottom: 190px;
  }
  @media (max-width:991px){
    .subtitle2{
      padding: 20px;
      text-align: justify;
      
    .video{
      margin: 0 auto;
      width: 70%;
    }
    }
  }