.survey{
    margin: 0 auto;
    width: 40%;
    border-radius: 8px;
    padding: 8px;
    background-color: #002250;
    font-family: font-family1;
  }
  .title2{
    padding: 5px;
    font-size: 30px;
    border-radius: 8px;
    background-color: #d8003a;
    color: #e4fff9;
  }
  @media (max-width:991px){
    .survey{
      width: map-get($map: width, $key: width-300);
      margin: 0 auto;
      margin-bottom: 50px;
    }
  }
