.survey{
  margin: 0 auto;
  width: 95%;
  border-radius: 8px;
  padding: 8px;
  background-color: #002250;
  font-family: 'Kanit', sans-serif;
}
.title2{
  font-size: 30px;
  border-radius: 8px;
  background-color: #d8003a;
}
.lists{
  flex-direction: column;
  font-family: "Cabin Condensed", sans-serif;
  color: #002250;
  font-size: 20px;
  border:1px solid #002250;
  line-height: 2.5;
  padding: 8px;
  text-align: justify;
  margin-bottom: 30px;
  border-radius: 8px;
}
.lists:hover{
  transform: scale(1.1);
}
  @media (max-width:991px){
   .map{
      flex-direction: column;
      margin: 0 auto;
      width: 90%;
    }
    .maplist{
      text-align: center;
      margin: 0 auto;
    }
    .lists{
      margin: 0 auto;
      flex-direction: column;
      margin-bottom: 30px;
      min-width: map-get($map: width, $key: width-300)
    }
  } 
