$font-family1: 'Kanit', sans-serif;
$font-family2: "Cabin Condensed", sans-serif;

$width: (
    width-300: 300px,
    width-100: 100px,
    width-80: 80px,
    width-60: 60px,
    width-40: 40px,
    width-20: 20px,
)